<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498730641513-3nrn9q6ndu5iuuqjlvr0upu576thn1qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498730641513-3nrn9q6ndu5iuuqjlvr0upu576thn1qg</string>
	<key>API_KEY</key>
	<string>AIzaSyBZnBNfVAO8u92qrQ0P5CZBjtnNnFVL6ho</string>
	<key>GCM_SENDER_ID</key>
	<string>498730641513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramonito.easyTodo</string>
	<key>PROJECT_ID</key>
	<string>easytodo-a2ddb</string>
	<key>STORAGE_BUCKET</key>
	<string>easytodo-a2ddb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498730641513:ios:2fdfeabe3d342038a09af8</string>
</dict>
</plist>